
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: rgb(248, 248, 248);
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>



<div class='card'>
  <img src='https://www.ritiriwaz.com/wp-content/uploads/2017/01/Indian-Emblem.jpg' alt='John' style='width:50%'>
  <h4>Name: Rajendra</h4>
  <h4>Contact: 8258865517</h4>
  <h4>Lisence no: DGM20HIHG</h4>
  <h4>Valid till: 20-12-2023</h4>
  <p><button>DGM Mizoram</button></p>
</div>

